h1
{
	color: rgb(145, 12, 12); 
	font-size: 35px;
	font-family: fantasy;
}
.bodyBackgorund {
	background-image: url("bg1.jpg");
	background-size: cover;
	background-position: center;
}

#myCanvas{
	border-width: 20px;
	border-color: black;
	background-color: white;
	border-style: ridge;
}

button{
	margin-top: 15px;
	border-radius: 5px;
	background-color: purple;
	color: greenyellow;
}